.ln-grid {
  /* CELL SELECTION */
  [data-ln-cell-selection-rect] {
    background-color: var(--ln-primary-10);

    box-sizing: border-box;

    &[data-ln-cell-selection-is-deselect="true"] {
      background-color: color-mix(
        in srgb,
        var(--ln-red-50) 20%,
        transparent 80%
      );

      &[data-ln-cell-selection-border-top="true"],
      &[data-ln-cell-selection-border-bottom="true"],
      &[data-ln-cell-selection-border-start="true"],
      &[data-ln-cell-selection-border-end="true"] {
        border-color: var(--ln-red-50);
      }
    }

    &[data-ln-cell-selection-border-top="true"] {
      border-top: 1px solid var(--ln-primary-50);
    }
    &[data-ln-cell-selection-border-bottom="true"] {
      border-bottom: 1px solid var(--ln-primary-50);
    }
    &[data-ln-cell-selection-border-start="true"] {
      border-inline-start: 1px solid var(--ln-primary-50);
    }
    &[data-ln-cell-selection-border-end="true"] {
      border-inline-end: 1px solid var(--ln-primary-50);
    }
  }

  [data-ln-component-group-cell] {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: 8px;

    padding-inline-start: calc(var(--ln-space-40) * var(--ln-row-depth));

    &[data-ln-component-group-cell-expandable="false"]:not(
        [data-ln-component-group-cell-depth="0"]
      ) {
      /* space 60 for the icon and 8px for the gap. */
      padding-inline-start: calc(
        var(--ln-space-40) * var(--ln-row-depth) + var(--ln-space-60)
      );
    }

    &[data-ln-component-group-cell-expanded="true"]
      [data-ln-component-group-cell-expander="true"]:not(
        [data-ln-component-group-cell-error="true"]
      ) {
      transform: rotate(90deg);
    }

    &[data-ln-component-group-cell-expanded="true"]
      [data-ln-component-group-cell-error="true"] {
      color: var(--ln-red-50);
    }

    & [data-ln-component-group-cell-expander="true"] {
      border-radius: var(--ln-radius-field-md);
      background-color: transparent;
      border: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--ln-space-60);
      height: var(--ln-space-60);
      min-width: var(--ln-space-60);
      min-height: var(--ln-space-60);
      max-width: var(--ln-space-60);
      max-height: var(--ln-space-60);
      margin-inline-start: calc(var(--ln-padding-horizontal-cell) * -1 + 3px);

      &:hover {
        background-color: var(--ln-bg-button-light);
        cursor: pointer;
      }
    }
  }

  [data-ln-viewport="true"] {
    border: 1px solid var(--ln-border);
    box-sizing: border-box;
    scrollbar-width: thin;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    font-family: var(--ln-typeface);
    font-size: var(--ln-font-md);

    & [data-ln-start-shadow],
    & [data-ln-end-shadow] {
      width: 5px;
      opacity: 0;
      transition: opacity 200ms ease-in-out;
      pointer-events: none;
    }

    & [data-ln-top-shadow],
    & [data-ln-bottom-shadow] {
      height: 8px;
      opacity: 1;
      transition: opacity 200ms ease-in-out;
      pointer-events: none;
    }

    & [data-ln-end-shadow] {
      transform: translateX(-5px);
    }

    &[data-ln-y-status="full"] [data-ln-top-shadow],
    &[data-ln-y-status="partial"] [data-ln-top-shadow] {
      opacity: 1;
      background-image: linear-gradient(
        to bottom,
        var(--ln-border),
        transparent
      );
    }
    &[data-ln-y-status="none"] [data-ln-bottom-shadow],
    &[data-ln-y-status="partial"] [data-ln-bottom-shadow] {
      opacity: 1;
      background-image: linear-gradient(to top, var(--ln-border), transparent);
      transform: translateY(-8px);
    }

    &[data-ln-x-status="full"] [data-ln-start-shadow],
    &[data-ln-x-status="partial"] [data-ln-start-shadow] {
      opacity: 1;
      background-image: linear-gradient(
        to right,
        var(--ln-border),
        transparent
      );
    }

    &[data-ln-x-status="none"] [data-ln-end-shadow],
    &[data-ln-x-status="partial"] [data-ln-end-shadow] {
      opacity: 1;
      background-image: linear-gradient(
        to left,
        var(--ln-border-strong) 0,
        transparent
      );
    }
  }

  [data-ln-header="true"] {
    box-sizing: border-box;
  }

  [data-ln-header-group="true"] {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--ln-bg-ui-panel);
    padding-inline: var(--ln-padding-horizontal-cell);
    font-weight: 600;
    color: var(--ln-text-dark);
    line-height: 20px;
    white-space: nowrap;

    border-bottom: 1px solid var(--ln-border);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      inset-inline-end: 0px;
      height: calc(100% - 16px);
      width: 1px;
      background-color: var(--ln-border);
    }
    &[data-ln-colpin="end"]::before {
      inset-inline-end: unset;
      inset-inline-start: 0px;
    }
    &[data-ln-last-start-pin]::before,
    &[data-ln-first-end-pin]::before {
      top: 0px;
      height: 100%;
    }
  }

  [data-ln-header-cell="true"] {
    background-color: var(--ln-bg-ui-panel);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: var(--ln-text);
    font-weight: 500;
    line-height: 20px;
    padding-inline: var(--ln-padding-horizontal-cell);
    border-bottom: 1px solid var(--ln-border);
    white-space: nowrap;

    &[data-ln-type="number"] {
      justify-content: flex-end;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      inset-inline-end: 0px;
      height: calc(100% - 16px);
      width: 1px;
      background-color: var(--ln-border);
    }
    &[data-ln-colpin="end"]::before {
      inset-inline-end: unset;
      inset-inline-start: 0px;
    }
    &[data-ln-last-start-pin]::before,
    &[data-ln-first-end-pin]::before {
      top: 0px;
      height: 100%;
    }
  }

  [data-ln-colid="lytenyte-marker-column"] {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  [data-ln-header-resizer="true"] {
    background-color: transparent;
    transition: background-color 200ms ease-in-out;
    cursor: col-resize;
    &:hover {
      background-color: var(--ln-primary-50);
    }
  }

  [data-ln-row="true"] {
    box-sizing: border-box;

    &:hover::before {
      content: "";
      display: block;

      position: absolute;
      width: 100%;
      height: var(--ln-row-height);
      background: (--ln-bg-row-hover);
      background: color-mix(
        in srgb,
        var(--ln-bg-row-hover) 90%,
        var(--ln-gray-50) 10%
      );
      pointer-events: none;
      z-index: 9;
    }
    &[data-ln-selected="true"]:hover::before {
      background: color-mix(in srgb, var(--ln-primary-50) 40%, transparent 60%);
    }
    &[data-ln-selected="true"]::before {
      content: "";
      display: block;

      position: absolute;
      width: 100%;
      height: var(--ln-row-height);
      background: color-mix(in srgb, var(--ln-primary-50) 30%, transparent 70%);
      pointer-events: none;
      z-index: 9;
    }

    &[data-ln-alternate="true"] [data-ln-cell="true"] {
      background-color: var(--ln-bg-row-alternate);
    }

    [data-ln-cell="true"] {
      display: flex;
      align-items: center;
      padding-inline: var(--ln-padding-horizontal-cell);
      background-color: var(--ln-bg-ui-panel);
      color: var(--ln-text-dark);
      font-weight: 400;
      line-height: 20px;
      box-sizing: border-box;
      border-bottom: 1px solid var(--ln-border-row);

      &[data-ln-last-top-pin="true"] {
        border-bottom: 1px solid var(--ln-border-xstrong);
      }
      &[data-ln-first-bottom-pin="true"] {
        border-top: 1px solid var(--ln-border-xstrong);
      }

      &[data-ln-last-start-pin="true"] {
        border-inline-end: 1px solid var(--ln-border-strong);
      }
      &[data-ln-first-end-pin="true"] {
        border-inline-start: 1px solid var(--ln-border-strong);
      }

      &[data-ln-type="number"] {
        justify-content: flex-end;
        font-variant-numeric: tabular-nums;
      }
    }
  }

  [data-ln-cell="true"]:focus {
    outline: none;
    position: relative;
  }

  [data-ln-rowtype="full-width"] > div:focus,
  [data-ln-cell="true"]:focus,
  [data-ln-header-cell="true"]:focus,
  [data-ln-header-group="true"]:focus {
    outline: none;
    &::before {
      content: "";
      left: 0px;
      top: 0px;
      position: absolute;
      border: 1px solid var(--ln-primary-50);
      background-color: transparent;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

[data-ln-pill-root][data-ln-orientation="horizontal"] {
  display: grid;
  grid-template-columns: auto 1fr auto;
  container-type: inline-size;
}

[data-ln-pill-root][data-ln-orientation="vertical"] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

[data-ln-pill-label] {
  display: flex;
  align-items: center;
  gap: var(--ln-space-05);
  font-family: var(--ln-typeface);
  font-size: var(--ln-font-md);
  font-weight: 500;
  color: var(--ln-text);
  padding-inline-start: var(--ln-space-30);
  padding-inline-end: var(--ln-space-20);
}

[data-ln-pill-root][data-ln-orientation="horizontal"] {
  [data-ln-pill-row] {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    grid-column: 1 / -1;
    box-sizing: border-box;

    min-height: 52px;

    border-bottom: 1px solid var(--ln-border);
  }

  [data-ln-pill-row][data-ln-expanded="true"] {
    padding-block: var(--ln-space-10);
  }

  [data-ln-pill-row][data-ln-expanded="true"] [data-ln-pill-container] {
    flex-wrap: wrap;

    & [data-ln-pill-item-container] {
      padding-block: var(--ln-space-05);
    }
  }
}

[data-ln-pill-root][data-ln-orientation="vertical"] {
  [data-ln-pill-row] {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;

    box-sizing: border-box;
    min-height: 52px;

    border-bottom: 1px solid var(--ln-gray-30);
    border-inline: 0px;
    border-radius: 0px;
  }

  [data-ln-pill-label] {
    padding-block: var(--ln-space-30);
    border-bottom: 1px solid var(--ln-gray-30);
  }
}

@container (width < 700px) {
  [data-ln-pill-label-text] {
    display: none;
  }
}

[data-ln-pill-container] {
  display: flex;
  flex-direction: column;

  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  &[data-ln-orientation="horizontal"] {
    align-items: center;
    flex-direction: row;
  }
  &[data-ln-orientation="vertical"] {
    padding-block: var(--ln-space-20);
  }

  &[data-ln-over="true"] {
    background-color: var(--ln-primary-10);
  }

  &[data-ln-external-over="true"] {
    background-color: var(--ln-primary-10);
    outline: 1px dashed var(--ln-primary-50);
    outline-offset: -2px;
  }
}

[data-ln-pill-container][data-ln-orientation="horizontal"]
  [data-ln-pill-item-container] {
  padding-block: calc(var(--ln-space-30) - 2px);
}
[data-ln-pill-container][data-ln-orientation="vertical"]
  [data-ln-pill-item-container] {
  padding-block: calc(var(--ln-space-10) - 2px);
  padding-inline: var(--ln-space-30);
}

[data-ln-pill-item-container] {
  padding-inline: var(--ln-space-05);

  font-family: var(--ln-typeface);
  font-size: var(--ln-font-sm);
  font-weight: 500;
  color: var(--ln-text);

  &[data-ln-pill-active="false"] {
    opacity: 0.5;

    transition: opacity var(--ln-transition-duration) var(--ln-transition-fn);

    &:hover {
      opacity: 0.75;
    }
  }

  & [data-ln-pill-item] {
    display: flex;
    align-items: center;
    background-color: var(--ln-bg);
    border-radius: var(--ln-radius);
    padding-block: var(--ln-space-05);
    padding-inline: var(--ln-space-10);
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    border: 1px solid transparent;
    cursor: pointer;

    white-space: nowrap;

    &:focus-visible {
      outline: 1px solid var(--ln-primary-50);
    }
  }

  &[data-ln-draggable="true"] [data-ln-pill-item] {
    padding-inline-start: var(--ln-space-02);
  }

  &[data-ln-pill-type="measures"] [data-ln-pill-item] {
    background-color: var(--ln-measures-fill);
    border: 1px solid var(--ln-measures-stroke);
  }

  &[data-ln-pill-type="columns"] [data-ln-pill-item] {
    background-color: var(--ln-column-fill);
    border: 1px solid var(--ln-column-stroke);
  }
  &[data-ln-pill-type="row-pivots"] [data-ln-pill-item] {
    background-color: var(--ln-row-pivot-fill);
    border: 1px solid var(--ln-row-pivot-stroke);
  }
  &[data-ln-pill-type="column-pivots"] [data-ln-pill-item] {
    background-color: var(--ln-column-pivot-fill);
    border: 1px solid var(--ln-column-pivot-stroke);
  }

  &[data-ln-drag-active="true"] [data-ln-pill-item] {
    transform: scale(1.025);
  }
}

[data-ln-pill-expander] {
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: var(--ln-space-30);
  border-inline-start: 1px solid var(--ln-border);
}

[data-ln-dialog-title="true"] {
  margin: 0px;
  padding: 0px;

  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
}
[data-ln-dialog-description="true"] {
  margin: 0px;
  padding: 0px;

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
}

/* DIALOG CONTAINER */
[data-ln-dialog="true"] {
  margin: 0px;
  padding: var(--ln-space-40);
  max-width: unset;
  max-height: unset;

  color: var(--ln-text-dark);
  border-radius: var(--ln-radius-lg);

  inset-block-start: 10%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  overflow: unset;

  font-family: var(--ln-typeface);

  border: 1px solid var(--ln-border-popover);
  background-color: var(--ln-bg-popover);
  box-shadow: var(--ln-shadow-400);

  transition-property: opacity, scale;
  transition-duration: var(--ln-transition-duration);
  transition-timing-function: var(--ln-transition-fn);

  &[data-ln-transition="opening"],
  &[data-ln-transition="closing"] {
    opacity: 0;
    transform: scale(0.98) translateX(-50%);
  }
  &::backdrop {
    backdrop-filter: blur(1px);
    background-color: transparent;
    transition-property: backdrop-filter;
    transition-duration: var(--ln-transition-duration);
    transition-timing-function: var(--ln-transition-fn);
  }
  &[data-ln-transition="opening"]::backdrop,
  &[data-ln-transition="closing"]::backdrop {
    background-color: transparent;
    backdrop-filter: blur(0px);
  }
}

/* DIALOG CLOSE BUTTON */
[data-ln-dialog-close="true"] {
  margin: 0;
  padding: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 26px;
  min-height: 26px;

  border: transparent;
  border-radius: var(--ln-radius);

  transition-property: background-color, color;
  transition-duration: var(--ln-transition-duration);
  transition-timing-function: var(--ln-transition-fn);

  color: var(--ln-border-icon);
  background-color: var(--ln-bg-light);

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: var(--ln-bg-strong);
  }
  &:active:not(:disabled) {
    transform: scale(0.98);
  }
}

/* MENU */
[data-ln-menu-popover="true"],
[data-ln-menu="true"][data-ln-submenu="true"] {
  margin: 0px;
  padding: var(--ln-space-05);
  max-width: unset;
  max-height: unset;

  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;

  color: var(--ln-text);
  border-radius: var(--ln-radius-lg);

  inset-block-start: 10%;
  inset-inline-start: 50%;
  overflow: unset;

  font-family: var(--ln-typeface);

  border: 1px solid var(--ln-border-popover);
  background-color: var(--ln-bg-popover);
  box-shadow: var(--ln-shadow-400);

  transition-property: opacity, scale;
  transition-duration: var(--ln-transition-duration);
  transition-timing-function: var(--ln-transition-fn);

  &[data-ln-transition="opening"],
  &[data-ln-transition="closing"] {
    opacity: 0;
    transform: scale(0.98);
  }
  &::backdrop {
    background-color: transparent;
    transition-property: backdrop-filter;
    transition-duration: var(--ln-transition-duration);
    transition-timing-function: var(--ln-transition-fn);
  }

  [data-ln-dialog-arrow="true"] {
    position: absolute;

    [data-ln-dialog-arrow-area="true"] {
      fill: var(--ln-bg-popover);
    }
    [data-ln-dialog-arrow-border] {
      stroke: var(--ln-border-popover);
    }

    &[data-ln-placement="bottom"] {
      top: 0px;
      transform: translateY(-100%);
    }
    &[data-ln-placement="top"] {
      bottom: 0px;
      transform: translateY(100%) rotate(180deg);
    }
    &[data-ln-placement="left"] {
      right: 0px;
      transform: translateX(calc(100% - 4px)) rotate(90deg);
    }
    &[data-ln-placement="right"] {
      left: 0px;
      transform: translateX(calc(-100% + 4px)) rotate(-90deg);
    }
  }
}

[data-ln-menu-separator="true"] {
  height: 1px;
  background-color: var(--ln-border-xstrong);
  margin-block: var(--ln-space-02);
  margin-inline: calc(var(--ln-space-05) * -1);
}

[data-ln-menu-item="true"] {
  padding-inline-start: var(--ln-space-25);
  padding-inline-end: var(--ln-space-20);
  padding-block: var(--ln-space-20);
  border-radius: var(--ln-radius-md);
  display: flex;
  align-items: center;

  cursor: pointer;

  &[data-ln-disabled="true"] {
    color: var(--ln-text-xlight);
  }

  &[data-ln-checked="true"] {
    background-color: var(--ln-primary-10);
  }

  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 400;

  &:focus {
    outline: none;
  }

  &[data-ln-open="true"] {
    background-color: var(--ln-bg-light);
  }

  &[data-ln-active="true"] {
    background-color: var(--ln-bg-light);
  }
}

/* POPOVER  */
[data-ln-popover="true"] {
  margin: 0px;
  padding: var(--ln-space-40);
  max-width: unset;
  max-height: unset;

  color: var(--ln-text-dark);
  border-radius: var(--ln-radius-lg);

  inset-block-start: 10%;
  inset-inline-start: 50%;
  overflow: unset;

  font-family: var(--ln-typeface);

  border: 1px solid var(--ln-border-popover);
  background-color: var(--ln-bg-popover);
  box-shadow: var(--ln-shadow-400);

  transition-property: opacity, scale;
  transition-duration: var(--ln-transition-duration);
  transition-timing-function: var(--ln-transition-fn);

  &[data-ln-transition="opening"],
  &[data-ln-transition="closing"] {
    opacity: 0;
    transform: scale(0.98);
  }
  &::backdrop {
    background-color: transparent;
    transition-property: backdrop-filter;
    transition-duration: var(--ln-transition-duration);
    transition-timing-function: var(--ln-transition-fn);
  }

  [data-ln-dialog-arrow="true"] {
    position: absolute;

    [data-ln-dialog-arrow-area="true"] {
      fill: var(--ln-bg-popover);
    }
    [data-ln-dialog-arrow-border] {
      stroke: var(--ln-border-popover);
    }

    &[data-ln-placement="bottom"] {
      top: 0px;
      transform: translateY(-100%);
    }
    &[data-ln-placement="top"] {
      bottom: 0px;
      transform: translateY(100%) rotate(180deg);
    }
    &[data-ln-placement="left"] {
      right: 0px;
      transform: translateX(calc(100% - 4px)) rotate(90deg);
    }
    &[data-ln-placement="right"] {
      left: 0px;
      transform: translateX(calc(-100% + 4px)) rotate(-90deg);
    }
  }
}

[data-ln-smart-select-trigger] {
  &:focus-visible {
    border-radius: 4px;
    outline: 1px solid var(--ln-primary-50);
    outline-offset: -5px;
  }
}
.has-diff {
  &:focus-visible {
    outline: 1px solid white;
  }
}

[data-ln-popover="true"][data-ln-smart-select-container="true"] {
  padding: var(--ln-space-10) var(--ln-space-05);

  min-width: var(--ln-anchor-width);
  box-sizing: border-box;

  background-color: var(--ln-bg-strong);
  color: var(--ln-text);
  font-size: var(--ln-font-md);

  & [data-ln-smart-option] {
    cursor: pointer;
    padding-block: var(--ln-space-05);
    padding-inline: var(--ln-space-20);

    border-radius: var(--ln-radius-md);
    height: 32px;

    &[data-ln-active="true"] {
      background-color: var(--ln-gray-05);
    }
  }
}

[data-ln-button] {
  box-sizing: border-box;
  font-weight: 500;

  &:focus-visible {
    outline: 1px solid var(--ln-primary-50);
  }

  &[data-ln-size="xs"] {
    height: 24px;
    font-size: 0.75rem;
    line-height: 20px;
    padding: 0px var(--ln-padding-field-sm);
    border-radius: var(--ln-radius-field-sm);
  }
  &[data-ln-size="sm"] {
    height: 30px;
    font-size: 0.75rem;
    line-height: 20px;
    padding: 0px var(--ln-padding-field-md);
    border-radius: var(--ln-radius-field-md);
  }
  &[data-ln-size="md"] {
    height: 32px;
    font-size: 0.875rem;
    line-height: 20px;
    padding: 0px var(--ln-padding-field-md);
    border-radius: var(--ln-radius-field-md);
  }
  &[data-ln-size="lg"] {
    height: 36px;
    font-size: 0.875rem;
    line-height: 22px;
    padding: 0px var(--ln-padding-field-lg);
    border-radius: var(--ln-radius-field-lg);
  }
  &[data-ln-size="mx"] {
    height: 38px;
    font-size: 0.875rem;
    line-height: 22px;
    padding: 0px var(--ln-padding-field-xl);
    border-radius: var(--ln-radius-field-lg);
  }

  transition-property: background-color, color;
  transition-duration: var(--ln-transition-duration);
  transition-timing-function: var(--ln-transition-fn);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
  }

  &:active:not(:disabled) {
    transform: scale(0.99);
  }

  &:disabled {
    background-color: var(--ln-bg-strong);
    border: 1px solid transparent;
    color: var(--ln-text-xlight);
    cursor: not-allowed;
  }
}

[data-ln-button="primary"] {
  --mix-color: black;
  background-color: var(--ln-primary-50);
  color: var(--ln-text-primary-button);
  border: 1px solid var(--ln-primary-70);

  &:hover:not(:disabled) {
    background-color: color-mix(
      in srgb,
      var(--ln-primary-50) 90%,
      var(--mix-color) 10%
    );
  }
}

.ln-shadcn {
  [data-ln-button="primary"] {
    color: var(--ln-gray-02);
    border-color: transparent !important;

    &:hover {
      background-color: var(--ln-primary-70);
    }
  }
}

.ln-cotton-candy {
  [data-ln-button="primary"] {
    color: white;
  }
}

[data-ln-button="secondary"] {
  background-color: transparent;
  color: var(--ln-text);

  &:hover:not(:disabled) {
    background-color: var(--ln-gray-20);
  }
}

.ln-teal {
  [data-ln-button="secondary"] {
    background-color: transparent;
    color: var(--ln-text);

    &:hover:not(:disabled) {
      background-color: var(--ln-gray-30);
    }
  }
}

.ln-term {
  [data-ln-button="secondary"] {
    background-color: transparent;
    color: var(--ln-text);

    &:hover:not(:disabled) {
      background-color: var(--ln-bg);
    }
  }
}

.ln-dark {
  [data-ln-button="secondary"] {
    background-color: transparent;
    color: var(--ln-text);

    &:hover:not(:disabled) {
      background-color: var(--ln-bg);
    }
  }
}

[data-ln-button="tertiary"] {
  background-color: var(--ln-bg-button-light);
  border: 1px solid var(--ln-border-button-light);

  &:hover:not(:disabled) {
    background-color: var(--ln-bg);
  }
}

[data-ln-button="website"] {
  border: 1px solid var(--ln-gray-30);
  color: var(--ln-gray-80);
  box-shadow:
    inset 0 0 11px 0 hsla(176, 55%, 89%, 0.16),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */

  &:hover {
    background-color: var(--ln-gray-20);
  }
}

.ln-light,
.light {
  [data-ln-button="website"] {
    border: 1px solid var(--ln-gray-60);
  }

  [data-ln-button="primary"] {
    border: 1px solid #005ffa;
    &:disabled {
      border: 1px solid transparent;
    }
  }
}

[data-ln-button][data-ln-icon="true"] {
  padding: 0px;

  &[data-ln-size="xs"] {
    height: 24px;
    width: 24px;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
  }

  &[data-ln-size="sm"] {
    height: 30px;
    width: 30px;
    max-height: 30px;
    max-width: 30px;
    min-height: 30px;
    min-width: 30px;
  }
  &[data-ln-size="md"] {
    height: 32px;
    width: 32px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
  }
  &[data-ln-size="lg"] {
    height: 36px;
    width: 36px;
    max-height: 36px;
    max-width: 36px;
    min-height: 36px;
    min-width: 36px;
  }
  &[data-ln-size="mx"] {
    height: 40px;
    width: 40px;
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
  }
}

[data-ln-checkbox] {
  background-color: var(--ln-gray-00);
  border: 1px solid var(--ln-border-strong);
  border-radius: 4px;
  box-sizing: border-box;

  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  max-height: 18px;
  max-width: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:focus-within {
    outline: 1px solid var(--ln-primary-50);
  }

  & input {
    cursor: pointer;
  }

  &[data-ln-checked="true"],
  &[data-ln-indeterminate="true"] {
    background-color: var(--ln-primary-50);
    border: 1px solid var(--ln-primary-50);
    color: var(--ln-gray-00);
  }

  &[data-ln-disabled] {
    background-color: var(--ln-gray-40);
    border: 1px solid var(--ln-gray-40);
    color: var(--ln-gray-80);
    cursor: not-allowed;
  }

  &:not([data-ln-disabled="true"])[data-ln-checked="true"]:hover {
    box-shadow:
      0 2px 3px 0 var(--ln-primary-50),
      0 0 0 2px var(--ln-primary-30);
  }

  &:not([data-ln-disabled="true"]):hover {
    box-shadow:
      0 2px 3px 0 var(--ln-gray-50),
      0 0 0 2px var(--ln-gray-30);
  }
}
[data-ln-input] {
  display: flex;
  align-items: center;

  background-color: var(--ln-bg-form-field);
  border-radius: var(--ln-radius-field-sm);
  border: 1px solid transparent;
  box-shadow:
    0 1.5px 2px 0 rgba(120, 126, 140, 0.15),
    0 0 0 1px var(--ln-gray-30);
  height: 28px;
  box-sizing: border-box;
  padding-inline: var(--ln-space-20);
  padding-block: 0px;

  font-family: var(--ln-typeface);
  font-size: var(--ln-font-md);
  color: var(--ln-text);
  line-height: 8px;

  transition-property: border-color;
  transition-duration: var(--ln-transition-duration);
  transition-timing-function: var(--ln-transition-fn);

  &:hover {
    border: 1px solid var(--ln-primary-30);
  }
  &:focus-within {
    outline: none;
    border: 1px solid var(--ln-primary-50);
    box-shadow: 0 0 0 2px var(--ln-primary-30);
  }

  &[data-ln-size="sm"] {
    height: 24px;
    font-size: var(--ln-font-sm);
  }

  &[data-ln-error] {
    border: 1px solid var(--ln-red-50);
    box-shadow: 0 0 0 2px var(--ln-red-30);
  }

  &[data-ln-disabled],
  &:disabled {
    border: 1px solid var(--ln-gray-20);
    box-shadow: none;
    color: var(--ln-text-xlight);
    background-color: var(--ln-gray-05);
    cursor: not-allowed;

    &:focus-within {
      outline: none;
      border: 1px solid var(--ln-gray-20);
      box-shadow: none;
    }

    &:hover {
      border: 1px solid var(--ln-gray-20);
    }
  }
}
.ln-grid .ln-tree-view {
  &[data-ln-viewport="true"] {
    border: transparent;
    background-color: transparent;
  }

  & [data-ln-row="true"][data-ln-selected="true"]::before {
    content: "";
    display: unset;

    position: unset;
    width: unset;
    height: unset;
    background: unset;
    pointer-events: unset;
    z-index: unset;
  }

  [data-ln-row="true"] [data-ln-cell="true"] {
    padding-inline: var(--ln-space-20);
    background-color: transparent;

    &:focus {
      background-color: var(--ln-bg-strong);
    }
    &:focus::before {
      content: unset;
      left: unset;
      top: unset;
      position: unset;
      border: unset;
      background-color: unset;
      width: unset;
      height: unset;
      pointer-events: unset;
    }
  }

  [data-ln-tree-view-cell] {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap: var(--ln-space-20);

    padding-inline-start: 0px;

    &[data-ln-tree-over="true"] {
      position: relative;

      &[data-ln-tree-before="true"]::before {
        top: 0px;
      }
      &[data-ln-tree-before="false"]::before {
        bottom: 0px;
      }

      &::before {
        position: absolute;
        content: "";
        left: 0px;
        width: 100%;
        height: 1px;
        background-color: var(--ln-primary-50);
      }
    }

    &[data-ln-tree-view-cell-expandable="false"] {
      padding-inline-start: 0px;
    }

    &[data-ln-tree-view-cell="leaf"] {
      padding-inline-start: 0px;
    }

    &[data-ln-tree-view-cell-expanded="true"]
      [data-ln-tree-view-cell-expander="true"] {
      transform: rotate(90deg);
    }

    & [data-ln-tree-view-cell-expander="true"] {
      border-radius: var(--ln-radius-field-md);
      background-color: transparent;
      border: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--ln-space-60);
      height: var(--ln-space-60);
      min-width: var(--ln-space-60);
      min-height: var(--ln-space-60);
      max-width: var(--ln-space-60);
      max-height: var(--ln-space-60);
      margin-inline-start: calc(var(--ln-padding-horizontal-cell) * -1 + 3px);

      &:hover {
        background-color: var(--ln-bg-button-light);
        cursor: pointer;
      }
    }
  }

  & [data-ln-row="true"] [data-ln-cell="true"] {
    border-bottom: unset;
  }
}
